/* Esta es una manera de hacerlo */
body {
	background-image: url("https://i.imgur.com/A6TOCIN.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 100%;
	max-width: 100%;
}

.container-piloti { 
	
	max-height: 100%;
	/* Puedes limitar la anchura */
	max-width: 100%;
}

.container__item--sidebar {
	background-color: transparent;
}

.container__item--content {
	background-color: transparent;
}

.container__item--sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container__item--content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	text-align: center;
}

/* navbar*/
.navbar-brand {
	padding-left: 40px;
	color: var(--bs-navbar-brand-color);
	text-decoration: none;
	white-space: nowrap;
}

.navbar-collapse {
	flex-grow: 0;
	padding: 30px; 
	--bs-gutter-x: 4rem;
	padding-right: 40px;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
	color: red;
	
}

.nav-link {
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-size: 22px;
	padding-left: 30px;
}

.nav-link:hover {
	color: #DF4444;
}



.navBtns {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	position: absolute;
	opacity: 0.4;
	background-color: transparent;
	color: white;
}

.navBtns:hover {
	opacity: 1;
	transition: all 1s;
	background-color: transparent;
}

#navLeft {
	left: 10px;
}

#navRight {
	right: 10px;
}

#linkTag {
	cursor: pointer;
	z-index: 1;
	box-sizing: border-box;
}

.container-scuderie {
	max-height: 100%;
	max-width: 100%;
}

.containeritem--content {
	background-color: transparent;
}

.containeritem--sidebar {
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container__item--content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {
	text-align: center;
}

.row-cols-md-5>* {
	flex: 0 0 auto;
	width: 17%;
}

.card {
	--bs-card-border-radius: 1.5rem;
}

.card-img, .card-img-top {
	border-radius: 1.5rem;
}

.card-group {
    display: flex;
    flex-flow: row wrap;
    width: 287px;
    height: 264px;
}
.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -33px; */
    margin-right: 39px;
    margin-left: 70px;
}
.mb-5 {
    margin-bottom: 7rem!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 3px;
    color: black;
    text-align: center;
}
