@charset "ISO-8859-1";

.blur {
-webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 2px 17px 17px 0px #FF0000, 3px 12px 26px 34px rgba(0,0,0,0.51), 3px 12px 26px 34px rgba(0,0,0,0.51); 
box-shadow: 4px -4px 15px 0px #FF1F1F, 2px 17px 17px 0px #FF0000, 3px 12px 26px 34px rgba(0,0,0,0.51), 3px 12px 26px 34px rgba(0,0,0,0.51);
background-color:white; height:40px; margin:27px;
}
.nomi-circuiti{
	text-decoration:none;
	color:#E41015;
	font-weight:bold;
}
.container-fluid{
	font-family:Roboto Condensed, sans-serif;
    font-style: italic;
}

#blur {
-webkit-box-shadow: 4px -4px 15px 0px #FF1F1F, 2px 17px 17px 0px #FF0000, 3px 12px 26px 34px rgba(0,0,0,0.51), 3px 12px 26px 34px rgba(0,0,0,0.51); 
box-shadow: 4px -4px 15px 0px #FF1F1F, 2px 17px 17px 0px #FF0000, 3px 12px 26px 34px rgba(0,0,0,0.51), 3px 12px 26px 34px rgba(0,0,0,0.51);
background-color:white; height:40px; margin:27px;
}
#gpBorder{
	border-style: solid; 
	margin: 2px;
	border-color:white;
	color:white;
	text-transform:uppercase;
	
}
.container-box { 
	--bs-gutter-x: 0; 
	--bs-gutter-y: 0;
	display: grid;
	grid-template-columns: 3fr 4fr 3fr;
	height: 35vh;
	max-width: 100%;
	padding:3vw;
}
.gpBorder{
	border-style: solid; 
	margin: 2px;
	border-color:white;
	color:white;
	text-transform:uppercase;
}
.container-box2 { 
	--bs-gutter-x: 0; 
	--bs-gutter-y: 0;
	display: grid;
	grid-template-columns: 3fr 4fr 3fr;
	height: 35vh;
	max-width: 100%;
	padding:3vw;
}